html {
  font-size: 16px; /* no2rem */
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #4a4a4a;
  background-color: #fff;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.5;
}

p,
hr,
table,
ul,
ol {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul {
  list-style: none;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #3273dc;
  text-decoration: none;
}

a:hover {
  color: #276cda;
}